.login-body {
  align-items: center;
  background-color: #B3E5FC;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-around;
}

.login-container {
  align-items: center;
  background-color: #B3E5FC;
  display: flex;
  flex-flow: column;
  height: 200px;
  justify-content: space-around;
}

.login-body input {
  width: 200px;
}

.login-body button {
  width: 200px;
}
