.profile-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 200px;
  justify-content: space-evenly;
  width: 100%;
}

.profile-buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.profile-email {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.profile-button {
  border-radius: 100%;
  font-size: 15px;
  height: 90px;
  width: 90px;
}
