body {
  background-color: #B3E5FC;
}

.foods-link {
  text-decoration: none;
}

.foods-container {
  align-items: flex-start;
  background-color: rgba(241, 241, 241, 0.089);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 50px auto;
  padding: 20px;
  width: 100%;
}

.foods-board {
  height: 150px;
  margin: 10px;
  text-align: center;
  width: 150px;
}

.foods-img {
  border-radius: 10px;
}

.foods-card-p {
  color: white;
  font-size: 70%;
  font-weight: 700;
}

.foods-container-off {
  display: none;
}
