body {
  background-image: url('../../images/xadrez2000.jpg');
  background-size: cover;
}

.foods-link {
  text-decoration: none;
}

.foods-container {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(145, 145, 145, 0.3);
  border-radius: 10px;
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px;
  padding: 40px 0;
  width: 100%;
}

.foods-board {
  background-color: white;
  border: 2px inset rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.foods-img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.foods-card-p {
  align-items: center;
  border-radius: 10px;
  color: #1b1b1b;
  display: flex;
  flex-flow: wrap;
  font-size: 70%;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  width: 100px;
}

.foods-container-off {
  display: none;
}
