header {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(145, 145, 145, 0.274);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  /* position: fixed; */
  top: 0;
  width: 100%;
}

.header-title {
  color: white;
  margin: 20px;
  text-shadow: 2px 2px 2px black;
}

.header-buttons {
  width: 100%;
}

.header-icons {
  align-items: center;
  background-color: #f0d033;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: row;
  height: 70px;
  justify-content: space-around;
  width: 100%;
}

.search-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
